
<div class="row">
    <div style="visibility: visible; animation-name: fadeInLeftBig;"
         class="col-sm-12 contact section-description wow fadeInLeftBig animated animated">
        <h2 class="main">Welcome {{currentUser.name}} to Ninja Feed Reader</h2>
    </div>
</div>

<div class="col-lg-6 col-md-offset-3">
    <label>
        Add a RSS feed
    </label>
    <input type="text" class="form-control input-lg input-block-level" placeholder="RSS feed link" ng-model="rssFeedLink" required>
    <hr/>
    <button type="button" class="btn btn-lg btn-success col-md-offset-4" ng-click="processFeedLink()">Fetch Content</button>
</div>


<div>
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Articles List from RSS feed</h3>
        </div>
        <div class="modal-body">
            <ul class="feed">
                <li class="feed-list" ng-repeat="item in items">
                    <input type="checkbox" value="{{item.link}}" checkbox> <a ng-href="{{item.link}}" target="_blank" ng-click="selected.item = item">{{ item.title }}</a>
                </li>
            </ul>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="fetchDetails()">Fetch Selected</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</div>